In [1]:
a = 5
message = "Hello World"

print(a, message)

5 Hello World

# introduction to lists

In [3]:
my_list = [
    [1, "name"],
    [2, "Age"]
]

my_list

[[1, 'name'], [2, 'Age']]

In [8]:
for item in my_list:
    print(item[1])

name
Age

In [9]:
my_list = [
    [1, "name", [4,549,45,]],
    [2, "Age",[4,5,3]]
]

In [12]:
my_list = [a for a in range(10) if a %2==0]

In [13]:
my_list

[0, 2, 4, 6, 8]

In [14]:
my_list = ["one", "two", "three", "four"]

In [19]:
my_list[:2]

['one', 'two']

In [21]:
my_list = [
    [1, "Ali"],
    [2, "Bilal"]
]

my_list[1][1]

In [22]:
my_list[1][1]

'Bilal'